DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
AUTO_DELIVER_AFTER_MINUTES=

# WhatsApp Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_CATALOG_ID=
