-- DropForeignKey
ALTER TABLE "Branch" DROP CONSTRAINT "Branch_restaurant_id_fkey";

-- DropForeignKey
ALTER TABLE "Customer" DROP CONSTRAINT "Customer_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerActivity" DROP CONSTRAINT "CustomerActivity_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerActivity" DROP CONSTRAINT "CustomerActivity_restaurant_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerAddress" DROP CONSTRAINT "CustomerAddress_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerAddress" DROP CONSTRAINT "CustomerAddress_restaurant_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerNote" DROP CONSTRAINT "CustomerNote_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "CustomerNote" DROP CONSTRAINT "CustomerNote_restaurant_id_fkey";

-- DropForeignKey
ALTER TABLE "Order" DROP CONSTRAINT "Order_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "User" DROP CONSTRAINT "User_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "WhatsAppCart" DROP CONSTRAINT "WhatsAppCart_branch_id_fkey";

-- DropForeignKey
ALTER TABLE "WhatsAppMessageReceipt" DROP CONSTRAINT "WhatsAppMessageReceipt_branch_id_fkey";

-- AlterTable
ALTER TABLE "Branch" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "CustomerAddress" ADD COLUMN     "calculated_distance_km" DOUBLE PRECISION,
ADD COLUMN     "distance_calculated_at" TIMESTAMP(3),
ADD COLUMN     "geocoding_metadata" TEXT,
ADD COLUMN     "geocoding_provider" TEXT,
ADD COLUMN     "normalized_address" TEXT;

-- AlterTable
ALTER TABLE "Order" ADD COLUMN     "delivery_charge" DOUBLE PRECISION,
ADD COLUMN     "delivery_charge_per_km" DOUBLE PRECISION,
ADD COLUMN     "delivery_distance_km" DOUBLE PRECISION,
ADD COLUMN     "free_delivery_distance_km" DOUBLE PRECISION;

-- AddForeignKey
ALTER TABLE "Branch" ADD CONSTRAINT "Branch_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "Restaurant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerAddress" ADD CONSTRAINT "CustomerAddress_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "Restaurant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerAddress" ADD CONSTRAINT "CustomerAddress_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerNote" ADD CONSTRAINT "CustomerNote_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "Restaurant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerNote" ADD CONSTRAINT "CustomerNote_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerActivity" ADD CONSTRAINT "CustomerActivity_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "Restaurant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerActivity" ADD CONSTRAINT "CustomerActivity_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WhatsAppCart" ADD CONSTRAINT "WhatsAppCart_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WhatsAppMessageReceipt" ADD CONSTRAINT "WhatsAppMessageReceipt_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "Branch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "WhatsAppCart_restaurant_id_branch_id_customer_whatsapp_number_i" RENAME TO "WhatsAppCart_restaurant_id_branch_id_customer_whatsapp_numb_idx";

-- RenameIndex
ALTER INDEX "WhatsAppCart_restaurant_id_branch_id_customer_whatsapp_number_k" RENAME TO "WhatsAppCart_restaurant_id_branch_id_customer_whatsapp_numb_key";

